{% extends 'main.html' %}
{% block title %}
<title>Login Page</title>
{% endblock title %}



{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

<center><h1>Login Form</h1></center>
    <form class='container my-4' method='POST' action='login'>
        {% csrf_token %}
        <div class="form-row">
            <!-- <div class="form-row"> -->
                <div class="form-group col-md-12">
                  <label for="inputCity">User Name</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="User Name" name='uname'>
                </div>
          </div>
          </div>
          <div class="form-group col-md-12">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
            name='password'>
          </div>
       
        
          
          
    
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="form-group col-md-12"></div>
        <a href='reset_password' class='btn btn-danger'>Forgot</a>
      </form>

{% endblock body %}

